footer {
  background-color: $light-solid;
  width: 100%;
  height: 11vh;
  border-top: solid 1px rgba(214, 215, 220);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
