// Primary Palette

$primary-color: #e63888;
$dark-low: rgba(0, 0, 0, 0.44);
$dark-medium: rgba(0, 0, 0, 0.6);
$dark-high: rgba(0, 0, 0, 0.8);
$dark-so-low: rgba(0, 0, 0, 0.05);

// Neutral Colors

$light-solid: #ffffff;
$light-high: rgba(255, 255, 255, 0.8);

// Complementary colors

$bg: rgba(164, 176, 191, 0.65);
$blue: rgb(11, 100, 224);
